.blueflag {
  color: yellow;
  background-color: blue;
}

.redflag {
  color: yellow;
  background-color: red;
}

.greenflag {
  color: yellow;
  background-color: green;
}

.flagdown {
  color: red;
}

.flagup { 
  color: yellow;
}

.navburger {
  background-image: url("https://sa-media.s3.amazonaws.com/images/redesign/navburger.svg");
  width: 80px;
  height: 80px;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right: 20px;
  z-index: 1;
}

.col-md-3, .col-md-9 {
  position: relative;
  top: 15px;
}
